<kendo-grid
  [kendoGridBinding]="gridView"
  kendoGridSelectBy="id"
  [(selectedKeys)]="mySelection"
  [pageSize]="20"
  [pageable]="true"
  [sortable]="true"
  [groupable]="true"
  [reorderable]="true"
  [resizable]="true"
  [height]="500"
  [columnMenu]="{ filter: true }"
>
  <ng-template kendoGridToolbarTemplate>
    <input
      [style.width.px]="165"
      placeholder="Search in all columns..."
      kendoTextBox
      (input)="onFilter($event)"
    />
    <kendo-grid-spacer></kendo-grid-spacer>
    <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG">
      Export to Excel
    </button>
    <button kendoGridPDFCommand [svgIcon]="pdfSVG">Export to PDF</button>
  </ng-template>
  <kendo-grid-checkbox-column
    [width]="45"
    [headerClass]="{ 'text-center': true }"
    [class]="{ 'text-center': true }"
    [resizable]="false"
    [columnMenu]="false"
    [showSelectAll]="true"
  ></kendo-grid-checkbox-column>
    <kendo-grid-column field="subject" title="Contact Name" [width]="220">
    </kendo-grid-column>
    <kendo-grid-column field="content" title="Job Title" [width]="220">
    </kendo-grid-column>
  <kendo-grid-column field="topic" title="Contact Name" [width]="220">
  </kendo-grid-column>
    <kendo-grid-column
      field="isActive"
      title="Aktiflik"
      [width]="100"
      [class]="{ 'text-center': true }"
      [resizable]="false"
      filter="boolean"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
            <span
              *ngIf="dataItem.isActive === true"
              class="badge badge-success"
            >✓</span
            >
        <span
          *ngIf="dataItem.isActive === false"
          class="badge badge-danger"
        >X </span
        >
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="target"
      title="Engagement"
      [width]="230"
      [resizable]="false"
      filter="numeric"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-sparkline
          type="bar"
          [data]="dataItem.target"
          [tooltip]="{ visible: false }"
          [transitions]="true"
          [seriesDefaults]="{
                labels: { background: 'none', visible: true, format: '{0}%' }
              }"
        >
          <kendo-chart-area [opacity]="0" [width]="200"></kendo-chart-area>
          <kendo-chart-value-axis>
            <kendo-chart-value-axis-item [min]="0" [max]="130">
            </kendo-chart-value-axis-item>
          </kendo-chart-value-axis>
        </kendo-sparkline>
      </ng-template>
    </kendo-grid-column>
  <kendo-grid-column
    field="isComplete"
    title="Hepsi Gönderildi"
    [width]="100"
    [class]="{ 'text-center': true }"
    [resizable]="false"
    filter="boolean"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
            <span
              *ngIf="dataItem.isComplete === true"
              class="badge badge-success"
            >✓</span
            >
      <span
        *ngIf="dataItem.isComplete === false"
        class="badge badge-danger"
      >X </span
      >
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="date" title="Tarih" [width]="130">
    <ng-template kendoGridCellTemplate let-dataItem>

      {{dataItem.date | date: "dd/MM/yyyy HH:mm"}}
    </ng-template>
  </kendo-grid-column>
    <kendo-grid-column field="phone" title="Phone" [width]="130">
    </kendo-grid-column>
    <kendo-grid-column field="address" title="Address" [width]="200">
    </kendo-grid-column>

  <kendo-grid-column
    [resizable]="false"
    [width]="50"
    [filterable]="false">
    <ng-template kendoGridCellTemplate class="gear">
<!--      <kendo-splitbutton-->
      <!--        (buttonClick)="onPaste()"-->
      <!--        [data]="data"-->
      <!--        [svgIcon]="clipboardSVG"-->
      <!--        [fillMode]="fillMode"-->
      <!--      >-->
      <!--      </kendo-splitbutton>-->
      <div class="gear">
        <kendo-dropdownbutton
          [style.width.px]="10"
          [svgIcon]="clipboardSVG"
          [data]="data"
          [themeColor]="themeColor"
        >
        </kendo-dropdownbutton>
      </div>

    </ng-template>

  </kendo-grid-column>

  <kendo-grid-pdf
    fileName="Notification.pdf"
    [repeatHeaders]="true"
  ></kendo-grid-pdf>
  <kendo-grid-excel fileName="Notification.xlsx"></kendo-grid-excel>
</kendo-grid>
