<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>
  <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="row">
  <div class="col-md-12">
    <form action="index.html" method="post">
      <header>{{header}}</header>
      <table>
        <tr>
          <td>Konu</td>
          <td>
            <kendo-textbox [(ngModel)]="subject" [ngModelOptions]="{ standalone: true }"></kendo-textbox>
          </td>
        </tr>

        <tr>
          <td>İçerik</td>
          <td>
            <kendo-textbox [(ngModel)]="content" [ngModelOptions]="{ standalone: true }"></kendo-textbox>
          </td>
        </tr>

        <tr>
          <td>Başlık</td>
          <td>
            <select [(ngModel)]="topic" (ngModelChange)="selectedDescriptionChange($event)" [ngModelOptions]="{ standalone: true }">
              <option value=Duyuru>Duyuru</option>
              <option value=Haberler>Haberler</option>
              <option value=Proje>Proje</option>
              <option value=Etkinlik>Etkinlik</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>Aktiflik</td>
          <td>
            <input type="checkbox" [(ngModel)]="isActive" [ngModelOptions]="{ standalone: true }">
          </td>
        </tr>

        <tr>
          <td>Tarih</td>
          <kendo-datetimepicker [format]="'dd.MM.yyyy HH:mm'" [(ngModel)]="date" [ngModelOptions]="{ standalone: true }"
          ></kendo-datetimepicker>
        </tr>
      </table>
      <kendo-button type=button (click)="save()">{{saveValue}}</kendo-button>
    </form>
  </div>
</div>

</body>
</html>



